[submodule "lib/libltc"]
	path = lib/libltc
	url = https://github.com/wotupfoo/libltc.git
[submodule "lib/DS3231"]
	path = lib/DS3231
	url = https://github.com/wotupfoo/DS3231.git
[submodule "lib/Adafruit_SSD1306"]
	path = lib/Adafruit_SSD1306
	url = https://github.com/wotupfoo/Adafruit_SSD1306.git
